<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django snacks</title>
</head>
<body>
    <header>
        <h1>Django Snacks</h1>
        <nav>
            <a href="{% url 'home'%}">home</a>
            <a href="{% url 'about'%}">about</a>
        </nav>
    </header>
    <main>
        {% block content %}
    <!-- child content goes here -->
        {% endblock content%}
    </main>
    <footer>
        <p>&copy; Made in Jordan with love</p>
    </footer>
</body>
</html>